@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

body, html
{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}
body 
{ 
	padding-top: 40px; 
}
.navbar
{
	border: none;
}
#banner
{
	/* Image credits : http://images.superfamous.com/California-Aerial-II */
	background-image:url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-top: 200px;
}
#banner h1
{
	font-weight: 900;
	text-transform: uppercase;
    font-size: 36px;
    color:#fff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
}
#banner p
{
	font-weight: 400;
	text-transform: lowercase;
    font-size: 18px;

}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover 
{ 
	color: #fff;
}
.overlay 
{
	height: 750px;
}